*{
    /* margin: 0;/ */
    /* padding: 0; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* -webkit-user-select: none; */
    /* user-select: none; */
}

:root{
    --dark-layer-0: #000;
    --dark-layer-1: #1c1c1e;
    --dark-layer-2: #2c2c2e;
    --dark-layer-3: #3a3a3c;

    --light-layer-0: #fff;
    --light-layer-1: #f2f2f7;
    --light-layer-2: #e5e5ea;
    --light-layer-3: #d1d1d6;

    --light-layer-1-80: #f2f2f7cc;
    --light-layer-1-60: #f2f2f799;
    --light-layer-1-40: #f2f2f766;
    --light-layer-1-20: #f2f2f733;

    --dark-layer-1-80: #1c1c1ecc;
    --dark-layer-1-60: #1c1c1e99;
    --dark-layer-1-40: #1c1c1e66;
    --dark-layer-1-20: #1c1c1e33;

    --black-100: #000;
    --white-100: #fff;

    --black-80: #000000cc;
    --white-80: #ffffffcc;

    --black-60: #00000099;
    --white-60: #ffffff99;

    --black-40: #00000066;
    --white-40: #ffffff66;

    --black-20: #00000033;
    --white-20: #ffffff33;

    --black-10: rgba(0, 0, 0, 0.1);
    --white-10: rgba(255, 255, 255, 0.1);



    --blue-dark: rgb(10, 132, 255);
    --blue-light: rgb(0, 122, 255);

    --brown-dark: rgb(172, 142, 104);
    --brown-light: rgb(162, 132, 94);

    --cyan-dark: rgb(100, 210, 255);
    --cyan-light: rgb(50, 173, 230);

    --green-dark: rgb(48, 209, 88);
    --green-light: rgb(52, 199, 89);

    --indigo-dark: rgb(94, 92, 230);
    --indigo-light: rgb(88, 86, 214);

    --mint-dark: rgb(102, 212, 207);
    --mint-light: rgb(0, 199, 190);

    --orange-dark: rgb(255, 159, 10);
    --orange-light: rgb(255, 149, 0);

    --pink-dark: rgb(255, 55, 95);
    --pink-light: rgb(255, 45, 85);

    --purple-dark: rgb(191, 90, 242);
    --purple-light: rgb(175, 82, 222);

    --red-dark: rgb(255, 69, 58);
    --red-light: rgb(255, 59, 48);

    --teal-dark: rgb(64, 200, 224);
    --teal-light: rgb(48, 176, 199);

    --yellow-dark: rgb(255, 214, 10);
    --yellow-light: rgb(255, 204, 0);
}

body{
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;

    font-family: Inter;
    /* color: var(--dark-layer-1); */
    /* background-color: var(--light-layer-1); */
    /* background-color: var(--light-layer-1); */

    /* overflow: hidden ; */
    /* overscroll-behavior: none; */

}

.spacer{
    flex-grow: 1;
}

#image{
    display: flex;
    position: relative;

    height: 100vh;
    width: 100vw;

    background-image: url(../image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#footer{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    left: 0%;
    bottom: 0%;

    height: 80px;
    width: 100vw;
    padding: 0px 40px;

    background-color: var(--white-40);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);

}

#footer-title{
    display: flex;
    position: relative;
    
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-layer-1-60);

    margin-right: 40px;
}

#menu{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;


    /* flex-grow: 1; */
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: blueviolet; */

}

.menu-item{
    display: flex;
    position: relative;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;

    padding: 5px 0px;
    margin: 0px 10px;

    font-size: 14px;
    font-weight: 500;
    color: var(--dark-layer-1-60);

    transition: all 0.25s;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: transparent;
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: green; */
    cursor: pointer;
}
.menu-item:hover{
    color: var(--dark-layer-1);
    border-color: var(--dark-layer-1-40);
}

.instagram{
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    /* height: fit-content; */
/* 
    height: 30px;
    width: 30px; */
    padding: 8px;
    border-radius: 100px;

    background-color: var(--dark-layer-1-60);
    fill: var(--white-60);
    transition: all 0.25s;

}
.instagram-icon{
    height: 15px;
    width: 15px;
}
.instagram:hover{
    background-color: var(--dark-layer-1);
    fill: var(--white-100);
}
/* @media screen and (prefers-color-scheme: dark) {
    body{
        color: white;
        background-color: var(--dark-layer-0);
    }
} */

@media(max-width: 450px){

}